@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ejemplo para Epplus</h1>

    <p>Ejemplo para el uso de charts con la libreria Epplus</p>

    <div class=" row">
        <h2>Herramientas: <small>NetCore 3.1 y Epplus 4.5.3.3 This is the last version of EPPlus under the LGPL License </small></h2>

    </div>
</div>

<br />
<style>
    .table-header {
        background-color: darkblue;
        color: white;
    }
</style>
<div>
    <div class=" row">

    </div>

</div>


@using (Html.BeginForm("WriteDataToExcel", "Home", FormMethod.Post))
{
    <input type="submit" value="Exportar a Excel" />
}
